<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/logo.css' %}">
</head>
<body>
    <div class="container-fluid mt-5" id="one">
        <div><img src="{% static 'images/image5.jpg' %}" width="80" height="50" id="imglogo"></div>
        <h5 style="float:right;"><br><b><i></i></b></h5>
        <h1><i>BLOOD DONATION CAMP</i></h1>
    </div>
    <div id="navbar">
        <nav class="navbar navbar-expand-sm mt-2">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'login.html' %}">Login</a>
                    </li> {% endcomment %}
                    <li>
                        <a class="nav-link" href="{% url 'motive.html' %}">Motive</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'requestforblood.html' %}">Request For Blood</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'seeallrequest.html' %}">See All Request</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'registerasdonor.html' %}">RegisterAsDonor</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'contactus.html' %}">Contactus</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'feedback.html' %}">Feedback</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <img src="{% static 'images/feedbackimg.jpeg' %}" width="100%" height="580">
        
    <div class="container-fluis p-2 mt-2">
        <h1 style="color:black;background-color:red;text-align:center;font-family:inkfree">
            <marquee scrollamount="20" behavior="alternate"><b><i>Feedback</i></b></marquee>
        </h1>
        <h5 style="text-align: center;"></h5>
    </div>
    
    <form name="myform2" method="POST" action="">
      {% csrf_token %}
      <div class="a2" style="margin-left:90px;margin-top:20px;margin-bottom:90px;margin-right:90px">
          <div class="form-group" style="margin-left:25px;">
              <label for="First Name">First Name:</label><br>
              <input type="text" class="form-control" name="first_name" placeholder="Enter First Name"/>
          </div><br>
          <div class="form-group" style="margin-left:25px;">
              <label for="Last Name">Last Name:</label><br>
              <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name"/>
          </div><br>
          <div class="form-group" style="margin-left:25px;">
              <label for="Email">Email no:</label><br>
              <input type="text" class="form-control" name="email" placeholder="abc@gmail.com"/>
          </div><br>
          <div class="container-fluid p-2 mt-2">
              <h3 style="text-align: left;"><b><u>Some Questions:</u></b></h3>
          </div>
          <p style="margin-top:25px;margin-left: 25px;">When is the best time to contact you?<br>
              <input class="input02" type="radio" name="time_to_contact" value="morning" />Morning<br>
              <input class="input02" type="radio" name="time_to_contact" value="afternoon" />Afternoon<br>
              <input class="input02" type="radio" name="time_to_contact" value="evening" />Evening
          </p>
          <p style="margin-top:50px;margin-left: 25px;">Is this the first year you've donated to our cause?<br>
              <br>
              <input type="radio" name="first_time_donator" value="yes" checked> yes<br>
              <br>
              <input type="radio" name="first_time_donator" value="no"> no <br>
          </p>
          <p style="margin-top:50px;margin-left: 25px;">Where did you first hear about us?<br>
              <input class="input02" type="radio" name="where_heard_about_us" value="advertisment" />Advertisment<br>
              <input class="input02" type="radio" name="where_heard_about_us" value="fundraiser" />Fundraiser<br>
              <input class="input02" type="radio" name="where_heard_about_us" value="website" />Website<br>
              <input class="input02" type="radio" name="where_heard_about_us" value="other" />Other:
          </p>
          <p style="margin-top:50px;margin-left: 25px;">what inspired you to donate blood?<br>
              <input class="input02" type="radio" name="inspiration_to_donate" value="want to help" />want to help<br>
              <input class="input02" type="radio" name="inspiration_to_donate" value="Encourgement by friend" />Encouragement by friend<br>
              <input class="input02" type="radio" name="inspiration_to_donate" value="An advertisment"/> An advertisment<br>
          </p>
          <p style="margin-top: 50px;margin-left: 25px;">The process of donate blood is easy?<br>
              <br>
              <input type="radio" name="process_easy" value="yes" checked> yes<br>
              <br>
              <input type="radio" name="process_easy" value="no"> no <br>
          </p>
          <p style="margin-top: 50px;margin-left: 25px;">Do you donate blood again next year?<br>
              <br>
              <input type="radio" name="donate_next_year" value="yes" checked> yes<br>
              <br>
              <input type="radio" name="donate_next_year" value="no"> no <br>
          </p>
          <p style="margin-top: 50px;margin-left: 25px;"> Would you recommanded your friend and family to donate blood?<br>
              <br>
              <input type="radio" name="recommend_to_others" value="yes" checked> yes<br>
              <br>
              <input type="radio" name="recommend_to_others" value="no"> no <br>
          </p>
  
          <div style="margin-top:50px;margin-left: 25px;">
              <p>can we improve to experience even better?</p>
              <textarea class="form-control" rows="3" name="improve_experience"></textarea><br>
              <p>In order to improve your experience, what could we do to improve how your donation is utilized?</p>
              <textarea class="form-control" rows="3" name="improve_utilization"></textarea>
          </div>
          <br>
          <div style="margin-left: 25px;">
              <select id="dropdown" name="age_range">
                  <option value="">Please identify your age range</option>
                  <option value="30-40">30-40</option>
                  <option value="40-50">40-50</option>
                  <option value="50-60">50-60</option>
              </select>
          </div>
          <br>
          <div style="margin-left: 25px;margin-bottom:10px">
              <button id="submit" class="btn btn-primary" type="submit" name="submit" onclick="return valid1()">Submit</button><br><br>
          </div>
      </div>
  </form>
  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <p>Stay Connected:</p>
        <a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="btn btn-outline-light btn-social mx-1"><i class="fab fa-instagram"></i></a>
        <br><br>
        <p>Donate Blood, Save Lives!</p>
        <p>For more information, visit our <a href="#">Blood Donation Website</a></p>
        <p>&copy; 2024 Blood Donation Camp</p>
    </div>
</footer>
  
</body>
</html>
